<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a>add new person</a>
<br/>
<!--/*@thymesVar id="person" type=""*/-->
<form th:method="POST" th:action="@{/people/new}" th:object="${person}"> <!-- прилетит ли текст в модель?  th:object="${personss.name}" -->
    <label for="name">name: </label>
    <input id="name" type="text" th:field="*{name}">
    <br/>
    <input type="submit" value="add">
</form>
</body>
</html>